@model List<ToDo>

    <a class="btn btn-success" asp-controller="ToDo" asp-action="Add">ekle</a>

<div class="row">
    @foreach(var todo in Model)
    {
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">@todo.Title</h3>
                    <p class="card-text">@todo.Desciription</p>
                </div>
                 <div class class="card-footer text-center">
                     <a asp-action="SetIsActive" asp-controller="ToDo" asp-route-id="@todo.Id" class="btn btn-success" >Yapıldı</a>
                    <a  asp-controller="ToDo" asp-action="Delete" asp-route-id="@todo.Id" onclick="return confirm('Silmek istediğinizden emin misiniz?')" class="btn btn-danger">Sil</a>

            </div>
           
        </div>
        </div>
    }
  
</div>